/* Main Container */

.main_cont {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    /* padding-top: 121px; */
}


/* HEADER */

header {

    width: 100%;
    padding: 49px 320px 48px 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    /* border:  5px solid red; */
    /* max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    z-index: 2; */

}


ul {
    display: flex;
    gap: 68px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;

}

.bag {
    font-size: 24px;
    color: #FFFFFF;
}


/* SECTION */

/* SECTION 1 */

.sec1 {
    width: 100%;
    height: 1080px;
    position: relative;
}

.sofa {
    width: 100%;
    height: 100%;
}

.desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 5px red;
    color: #FFFFFF;
    text-align: center;
}


.p1 {
    font-weight: 700;
    font-size: 82px;
}

.p2 {
    font-weight: 400;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.search {
    width: 463px;
    height: 71px;
    background-color: #c97911;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-left: 250px;
}

.src {
    font-size: 24px;
    justify-content: flex-end;
}


/* SECTION 2 */

.sec2 {
    width: 70%;
    margin: 245px 320px;
    height: 557px;
}


h2 {
    font-weight: 600;
    font-size: 70px;
    margin-bottom: 80px;
}

.threecards {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    /* border: 5px solid red; */


}

.cards {
    width: 30%;
    height: 368px;
    border: 2px solid #DCB47A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

/* SECTION 3 */


.sec3 {
    width: 70%;
    height: 1504px;
    /* border: 5px solid red; */
    margin: auto 320px auto 320px;
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}


h3 {
    font-weight: 600;
    font-size: 64px;
    color: #081323;
}


.interior_1 {
    position: relative;
}

.pliv {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* FOOTER */